{% extends "network/layout.html" %} {% block body %}
<h1>All posts</h1>
<div id="new-post-border">
  {% if user.is_authenticated %}
  <form action="{% url 'index' %}" method="post" id="newformpost">
    {% csrf_token %}
    <textarea
      rows="6"
      class="new-form-text"
      id="newformpost"
      name="post-text"
    ></textarea>
    <input type="submit" class="btn btn-primary" value="Post" />
  </form>
  {% endif %}
</div>

<div id="posts-wall">
  {% for post in page_obj %}
  <div id="post-wall">
    <div class="post" id="post{{post.id}}">
      <h5>
        <a href="{% url 'profile' post.post_creator.id %}"
          >{{ post.post_creator }}</a
        >
      </h5>
      {% if user == post.post_creator%}
      <button data-edit="text{{post.id}}" id="edit-post">Edit</button>
      <div id="text{{post.id}}" class="edit-text-area">
        <textarea
          rows="6"
          class="new-form-text"
          id="newformpost"
          name="post-text"
        ></textarea>
        <button id="close-text">Close</button>
      </div>
      <br />
      {% endif %}
      <span>{{post.text}}<br /></span>
      <span>{{post.date}}<br /></span>
      {% if user.is_authenticated %} {% if user in post.likes.all %}
      <button type="submit" id="like-button" name="like">
        <img
          src="/static/network/liked.png"
          alt="like"
          id="{{post.id}}"
          class="like"
        />
      </button>
      <span id="like-count">{{post.likes.all.count}}</span>
      {% else %}
      <button type="submit" id="like-button" name="like">
        <img
          src="/static/network/non-likedV2.png"
          alt="like"
          id="{{post.id}}"
          class="like"
        />
      </button>
      <span id="like-count">{{post.likes.all.count}}</span>
      {% endif %} {% else %}
      <img
        src="/static/network/non-likedV2.png"
        alt="like"
        id="{{post.id}}"
        class="likea"
      />
      <span id="like-count">{{post.likes.all.count}}</span>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
        >Previous</a
      >
    </li>
    {% endif %} {% for i in page_obj.paginator.page_range %}
    <li class="page-item">
      <a class="page-link" href="?page={{ i }}">{{i}}</a>
    </li>
    {% endfor %} {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% endif%}
  </ul>
</nav>
{% endif %} {% endblock %}
